@font-face {
    font-family: 'Magneto';
    src: url('../fonts/magneto.ttf');
    src: url('../fonts/magneto.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
 unicode-range: U+0020-F003;
}